---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import rmnSq from '~/assets/images/rmnsq.svg';
---
<Image class="mr-2" src={rmnSq} width="50px" height="50px" alt="Ranges Music Network Logo" />
<span
  class="self-center ml-1 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
 {SITE?.name}
</span>
